

  h1{
    font-family: 'Times New Roman';
    color: rgb(206, 217, 226);
  }
  h2 {
    font-family: 'Times New Roman';
    color: black;
  }

 p {
        color: black;
        text-align: justify
      }


   

