body {
    background-image: url(https://i5.walmartimages.com/seo/Scooby-Doo-Where-Are-You-The-Complete-Series-DVD_bac2aea9-9edf-4de8-8ead-a2b1a41780f4.43fe1cf2dfc07851ad46f9275ae01e4e.jpeg);
    font-family: sans-serif;
    padding: 300px;
  }
  h1{
    font-family: 'Times New Roman';
    color: rgb(206, 217, 226);
  }
  h2 {
    font-family: 'Times New Roman';
    color: black;
  }
